.icon_component {
    display: inline-block;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    padding: 2px;
    
    svg {
        height: 100%;
        width: 100%;
    }
}